@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html{
   background: #76b852;
}

.form input[type=radio]
{
    position: relative;
    left: 0;
    float: left;
    -webkit-appearance:radio;
}

#main-background{
    height: 100vh;
    background: #f2f3f8;
}

#graph-content{
    background: #f2f3f8;
}

.eat-box{
    float: left;
}

#active, #vegantype, #sex {
    font-family: 'Noto Sans KR', "Roboto", sans-serif;
    font-size: 13px;
    float: left;
    clear: none;
    width: 100%;
    text-align: left;
}
#vegantype {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}
#active label {
    /* display: inline-block; */
    width: auto;
    margin-right: 25px;
    margin-bottom: 20px;
    padding: 2px;
}

#sex label {
    /* display: inline-block; */
    width: auto;
    margin-right: 25px;
    margin-bottom: 20px;
    padding: 2px;
}
#vegantype label {
    /* display: inline-block; */
    padding: 2px;
    margin: auto auto 20px;
    width: 100%;
}

.register-title{
    text-align: left;
    font-family: 'Noto Sans KR', "Roboto", sans-serif;
    font-size: 12px;
    font-style: initial;
    margin-bottom: 1px;
}
.login-page {
    width: 360px;
    padding: 15% 0 0;
    margin: auto;
}
.form {
    border-radius: 3px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    border-radius: 3px;
    font-family: 'Noto Sans KR', "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input:focus {
    border: 1px solid #329e5e; }
.form button {
    border-radius: 3px;
    font-family: 'Noto Sans KR', "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    margin-top: 20px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3ms ease;
    transition: all 0.3ms ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}

body {
    min-height: 100%;
    background: #f2f3f8; /* fallback for old browsers */
    font-family: 'Noto Sans KR', "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#full_body{
    min-height: 100vh;
    width: 100%;
    background: #76b852;
    /*background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);*/
    font-family: 'Noto Sans KR', "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#member_body{
    width : 100%;
    background: #76b852;
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: 'Noto Sans KR', "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root{
    min-height: 100vh;
    min-width: 100%;
}


#floatingbutton{
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1;
}

#floatingbutton img{
    width: 20%;
    height: 20%;
    float: right;
}

#floating-Modal-content{
    margin: 5px;
}

.recipe-box{
    float: left;
}

.scrap-box{
    float: left;
}

#recipe-modal-content{
    margin: 5px;
}

#recipe-modal-content p{
    white-space:pre-line
}

#modal-title{
    color: #ffffff;
    font-weight: bold;
}

.modal-body{
    overflow: scroll;
    height: 541px;
}

.modal-body p{
    white-space:pre-line;
}

#eatButton{
    float: right;
    margin: 3px;
}

#scrapButton{
    float: right;
    margin: 3px;
}

#auto-complete{
    margin-top: 10px;
    margin-left: 10px;
    left: 0;
}

#auto-complete input{
    width: 380px;
    height: 38px;
}

#auto-complete .validate{
    width: 50px;
    margin-top: 10px;
    margin-right: 5px;
    float: left;
}

#auto-complete select{
    width: 260px;
    height: 38px;
    margin-top: 10px;
    margin-right: 5px;
    float: left;
}

#auto-complete button{
    height: 38px;
    margin-top: 10px;
    float: left;
}

#scrap-box{
    width: 100%;
}

.switch{
    float: right;
}

#page-title{
    width: max-content;
    float: left;
}

.title-box{
    width: 100%;
    height: 50px;
}

#nutrition-title{
    margin-left: 10px;
    margin-top: 7px;
    float:right
}

li.nav-item{
    margin-right: 10px;
    text-decoration-color: #1c7430;
}

.nav-item a{
    color: green;
    font-family: YiSunShinDotumM;
    font-weight: bold;
}

/*StartPage*/
@font-face {
    font-family: 'YiSunShinDotumM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}

header.masthead {
    width: auto;
    height: 100vh;
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    /*background-image: url("../asset/img/bg-masthead.jpg");*/
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.5) 0,rgba(0, 0, 0,.5) 100%),url("../asset/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#yisunshin{
    font-family: YiSunShinDotumM;
}

#notosans{
    font-family: Noto Sans KR;
    font-size: 15pt;
}

hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #4CAF50;
}

.text-white-75 {
    color: rgba(255, 255, 255, 0.75);
}

.page-section-1 {
    padding-top: 8rem;
    padding-bottom: 7rem;
    background-color: #FFFFFF;
}
.page-section-2 {
    padding-top: 8rem;
    padding-bottom: 4rem;
    background-color: #4CAF50;
}

#portfolio .container-fluid {
    max-width: 1920px;
}

#portfolio .container-fluid .portfolio-box {
    position: relative;
    display: block;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.616);
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    text-align: center;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category {
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name {
    font-size: 1rem;
}

#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

button .btn-success {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}