@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.form input[type=radio]
{
    position: relative;
    left: 0;
    float: left;
    -webkit-appearance:radio;
}

#active, #vegantype, #sex {
    font-family: 'Noto Sans KR', "Roboto", sans-serif;
    font-size: 13px;
    float: left;
    clear: none;
    width: 100%;
    text-align: left;
}
#vegantype {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}
#active label {
    /* display: inline-block; */
    width: auto;
    margin-right: 25px;
    margin-bottom: 20px;
    padding: 2px;
}

#sex label {
    /* display: inline-block; */
    width: auto;
    margin-right: 25px;
    margin-bottom: 20px;
    padding: 2px;
}
#vegantype label {
    /* display: inline-block; */
    padding: 2px;
    margin: auto auto 20px;
    width: 100%;
}

.register-title{
    text-align: left;
    font-family: 'Noto Sans KR', "Roboto", sans-serif;
    font-size: 12px;
    font-style: initial;
    margin-bottom: 1px;
}
.login-page {
    width: 360px;
    padding: 15% 0 0;
    margin: auto;
}
.form {
    border-radius: 3px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    border-radius: 3px;
    font-family: 'Noto Sans KR', "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input:focus {
    border: 1px solid #329e5e; }
.form button {
    border-radius: 3px;
    font-family: 'Noto Sans KR', "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    margin-top: 20px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3ms ease;
    transition: all 0.3ms ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}

body {
    min-height: 100%;
    background: #f2f3f8; /* fallback for old browsers */
    font-family: 'Noto Sans KR', "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#full_body{
    min-height: 100vh;
    width: 100%;
}

#member_body{
    height : 100%;
    width : 100%;
    background: #76b852;
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: 'Noto Sans KR', "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root{
    min-height: 100vh;
    min-width: 100%;
}


#floatingbutton{
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1;
}

#floatingbutton img{
    width: 20%;
    height: 20%;
    float: right;
}

#floating-Modal-content{
    margin: 5px;
}

.recipe-box{
    float: left;
}

.scrap-box{
    float: left;
}

#recipe-modal-content{
    margin: 5px;
}

#recipe-modal-content p{
    white-space:pre-line
}

#modal-title{
    color: #ffffff;
    font-weight: bold;
}

.modal-body{
    overflow: scroll;
    height: 541px;
}

.modal-body p{
    white-space:pre-line;
}

#eatButton{
    float: right;
    margin: 3px;
}

#scrapButton{
    float: right;
    margin: 3px;
}

#auto-complete{
    margin-top: 10px;
    margin-left: 10px;
    left: 0;
}

#auto-complete input{
    width: 380px;
    height: 38px;
}

#auto-complete .validate{
    width: 50px;
    margin-top: 10px;
    margin-right: 5px;
    float: left;
}

#auto-complete select{
    width: 260px;
    height: 38px;
    margin-top: 10px;
    margin-right: 5px;
    float: left;
}

#auto-complete button{
    height: 38px;
    margin-top: 10px;
    float: left;
}

#scrap-box{
    width: 100%;
}